<section class="filters section">
  <div class="container">
<h2 class="filters-title">Filters:</h2>
<div class="filters-forms-wrap">
    <form class="fiters-form" id="fiters-form" autocomplete="off">
      <input type="text" class="filters-input" name="search" placeholder="Search for anything" autofocus />
      <button type="submit" class="filters-bth">
        <svg class="search-icon" width="20" height="20">
          <use href="./icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="filters-categories-wrap">
    <select class="filters-categories">
      <option value=''>Categories</option>
    </select>
    <svg class="filters-cat-icon" width="20" height="20">
      <use href="./icons.svg#icon-doun"></use>
    </svg>
  </div>
  
  <div class="filters-sorting-wrap">
    <select class="filters-sorting">
        <option value="value1">A to Z</option>
        <option value="value2">Z to A</option>
        <option value="value3">Cheap</option>
        <option value="value4">Expensive</option>
        <option value="value5">Popular</option>
        <option value="value6">Not popular</option>
        <option value="value7">Show all</option>
    </select>
    <svg class="filters-sort-icon" width="20" height="20">
      <use href="./icons.svg#icon-doun"></use>
    </svg>
  </div>
</div>
</div>
</section>