<!------------------------- FOOTER ------------------------->

<section class="footer container">
    <div class="footer-container">
        <!---------------------- LOGO ------------------------------->
        <div class="footer-logo-div">
        <svg>
            <use href="../icons.svg#icon-tdesign_cabbage"></use>
        </svg>
        <h2 class="logo-footer-text">Food Boutique</h2>
        </div>

<!--------------------------- SOCIAL LINKS ---------------------------->

        <div class="foot-soc-link">
            <ul class="foot-soc-link">
                <li class="social-team ">
                    <a class="social-link" href="" target="_blank" aria-label="Instagram icon">
                        <svg class="social-icon" width="16" height="16">
                            <use href="../icons.svg#"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-team ">
                    <a class="social-link" href="" target="_blank" aria-label="Twitter icon">
                        <svg class="social-icon" width="16" height="16">
                            <use href="../icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-team">
                    <a class="social-link" href="" target="_blank" aria-label="Facebook icon">
                        <svg class="social-icon" width="16" height="16">
                            <use href="../icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>