<!------------------------- FOOTER ------------------------->

<div class="footer-container">
    <section class="footer container">
        <!---------------------- LOGO ------------------------------->
        <div class="footer-logo-div">
        <svg class="footer-svg" width="16" height="16">
            <use href="../icons.svg#icon-tdesign_cabbage"></use>
        </svg>
        <h2 class="logo-footer-text">Food Boutique</h2>
        </div>

<!--------------------------- SOCIAL LINKS ---------------------------->

        <div class="foot-social-div">
            <ul class="foot-soc-link">
                <li class="social-team ">
                    <a class="social-link" href="" target="_blank" aria-label="Instagram icon">
                        <svg class="social-icon" width="24" height="24">
                            <use href="../icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-team ">
                    <a class="social-link" href="" target="_blank" aria-label="Twitter icon">
                        <svg class="social-icon" width="24" height="24">
                            <use href="../icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-team">
                    <a class="social-link" href="" target="_blank" aria-label="Facebook icon">
                        <svg class="social-icon" width="24" height="24">
                            <use href="../icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="foot-text-content">
            <h3 class="footer-title">Discover the Variety of Flavors and Quality</h3>
            <p class="footer-description">
                An online store where you will find fresh, natural and delicious products for a healthy life and unforgettable
                gastronomic adventures
            </p>
        </div>
        
        <div class="footer-sub">
            <p class="footer-sub-text">Subscribe and learn about new products!</p>
            <input class="form-field" type="text" name="name" id="model_name" value="Email">
            <button type="submit" class="foot-sub-button">Send</button>
        </div>
        <div class="footer-smal-text">
            <p class="foot-first-txt">Food Boutique. All rights reserved</p>
            <p class="foot-second-txt">Privacy Policy <span class="foot-second-txt">/</span> <span class="foot-second-txt">Terms of Service</span></p>
        </div>
    </section>
</div>