<section class="page-header">
  <div class="header-container container">
    <div class="header-wrapper">
      <a class="logo" href="/src/index.html">
        <button class="header-logo">
          <svg class="header-logo-icon">
            <use href="../icons.svg#icon-tdesign_cabbage"></use>
          </svg>
        </button>
        Food Boutique
      </a>
      <nav>
        <ul class="header-menu">
          <li class="header-menu-item">
            <a class="header-menu-link" href="../index.html">
              <button class="header-menu-button-home" type="button">
                Home
              </button>
            </a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="../partials/cart.html">
              <button class="header-menu-button-cart" type="button">
                <svg class="header-menu-icon-cart">
                  <use
                    href="../icons.svg#icon-heroicons-solid_shopping-cart"
                  ></use>
                </svg>
              </button>
              <span class="header-menu-cart"> Cart (0) </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
