<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Welcome to the <span class="hero-title-accent">Food</span> Boutique!
    </h1>
    <p class="hero-text">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
    <img class="hero-organic-label"
    srcset="./img/hero/hero_organic_label_mob_1x.jpg 1x,
    ./img/hero/hero_organic_label_mob_2x.jpg 2x"
      src="/src/img/hero/hero_organic_label_mob_1x.jpg"  alt="label organic food"/>
    
  </div>
</section>
