<section id="productlist" class="productlist-container container">

    <div id="productList" class="productlist"></div>

    <div id="pagination">
        <svg class="btn-left">
            <use href="../icons.svg#icon-caret-small-left"></use>
        </svg>
        <div id="btn-numbers" class="btn-numbers"></div>
        <svg class="btn-right">
            <use href="../icons.svg#icon-caret-small-right"></use>
        </svg>
    </div>

    <script src="/src/js/prodacts-list.js" type="text"></script>
    <script src="/src/js/pagination.js" type="text"></script>
</section>