.discount-container {
    padding: 40px 20px 0;
}

.discount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-title {
    text-align: start;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500px;
}

.product-card {
    background-color: #fafafa;
    border-radius: 15px;
    width: 335px;
    height: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 20px;
}

.product-background {
    background-color: #E8E8E2;
    width: 304px;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.product-image {
    background-color: #E8E8E2;
    width: 114px;
    height: 114px;
}

.product-details {
    margin-top: 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.details-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.name-price {
    display: flex;
    justify-content: space-between;
    width: 262px;
    margin-right: 8px;
}

.product-name {
    font-size: 18px;
    font-weight: 500px;
}

.product-price {
    font-size: 18px;
    font-weight: 500px;
}

.discount-label {
    display: flex;
}

.discount-icon-cont {
    width: 34px;
    height: 34px;
    border-radius: 30px;
    background-color: #6D8434;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dicount-label-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    right: -10px;
    top: -10px;
}

.discount-icon {
    fill: #f4f4fd;
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 704px;
    }

    .discount-container{
        padding: 40px 20px 0 0;
        
    }

    .discount-title{
        font-size: 28px;}

    .discount {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1240px;
    }

    .discount-container{
        padding: 40px 20px 0 40px
    }



    .discount {
        flex-direction: column;
        width: 275px;
        gap: 0;
    }

    .product-card {
        width: 275px;
    }

    .product-background {
        width: 243px;
    }

    .product-details {
        width: fit-content;
    }    
           .name-price {
               display: flex;
               justify-content: space-between;
               width: 200px;
               margin-right: 8px;
           }
}