.filters-input { 
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  width: 100%;
  background-color: transparent;
  height: 48px;
  cursor: pointer;
  font-size: 14px;
}
.fiters-form{
  position: relative;
  width: 100%;
  max-width: 335px;
}

/* Налаштування стилю шрифту для placeholder */
.filters-input::placeholder {
  color: var(--color-black);
    }

.filters-bth{
  position: absolute;
  right: 20px;
  top: 14px;
  border: none;
  background-color: transparent;
  margin-bottom: 6px;
}
.filters-title {
  margin-top: 74px;
  margin-bottom: 8px;
  color: rgba(1, 1, 1, 0.3);
  font-size: 14px;
  line-height: 18px;
}
.filters-forms-wrap {
  display: flex;
  flex-wrap: wrap ;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.filters-categories {
  /* position: relative; */
  display: flex;
  padding: 14px 20px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  gap: 44px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  appearance: none;
  width: 100%;
  height: 48px;
  cursor: pointer;
  z-index: 2;
}

.filters-sorting {
  display: inline-flex;
  padding: 14px 20px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  gap: 94px;
  border-radius: 30px;
  background: #fafafa;
  appearance: none;
  width: 100%;
  height: 48px;
  cursor: pointer;
}
.filters-categories-wrap, .filters-sorting-wrap{
  position: relative;
  width: 100%;
  max-width: 335px;
}

.filters-cat-icon, .filters-sort-icon{
  z-index: 1;
  position:absolute;
  right: 20px;
  top: 14px;
}

@media screen and (min-width: 768px) {
  .filters-categories-wrap{
    width: 189px;
  }
  .filters-sorting-wrap{
    width: 200px;
  }
  .fiters-form{
    width: 269px;
  }
  .filters-sorting, .filters-categories, .filters-input{
    height: 52px;
    font-size: 18px;
  }
  .filters-bth, .filters-cat-icon, .filters-sort-icon{
       top: 16px;
}
}