.footer-container {
    width: 100%;
    background-color: #6D8434;
    padding-top: 44px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 32px;
    margin-top: 80px;
}

.footer-parent-div {
    margin-bottom: 80px;
}

/* LOGO */

.footer-logo-div {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.footer-logo-link {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.footer-svg {
    background: #E8E8E2;
    fill: #6D8434;
    text-align: center;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    padding: 6px;
    justify-content: flex-end;
    align-items: center;
}

.logo-footer-text {
    color: #E8E8E2;
    font-family: 'FONTSPRING DEMO - Quincy CF Black';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.36px;
}

/* SOCIAL LINKS */

.foot-social-div {
    margin-top: 24px;
    margin-bottom: 40px;
    width: 156px;
}

.foot-soc-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
}

.social-icon {
    fill: #E8E8E2;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(232, 232, 226, 0.30);
    justify-content: center;
    align-items: center;
}

.social-icon:hover {
    border: 3px solid rgba(232, 232, 226, 0.30);
}

.foot-text-content {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
        max-width: 335px; */
    gap: 14px;
    margin-bottom: 80px;
}

.footer-title {
    color: #E8E8E2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: -0.48px;
}

.footer-description {
    color: rgba(232, 232, 226, 0.70);

    font-family: Arial,
        Helvetica,
        sans-serif;
}

.footer-sub {
    display: inline-flex;
    width: 335px;
    height: 136px;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 80px;
}

.footer-sub-text {
    color: #E8E8E2;
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
}

::placeholder {
    color: rgba(232, 232, 226, 0.60);
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.form-footer {
    width: 100%;
}

.input-label {
    color: #E8E8E2;
    width: 335px;
    padding: 12px 0 12px 18px;
    background-color: transparent;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #E8E8E2;
    margin-bottom: 14px;
}

.subscribe {
    display: flex;
    width: 335px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #E8E8E2;
    color: #010101;
    border: none;
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.subscribe:hover {
    background-color: #ace8aca8;
}

.subscribe:focus {
    background-color: #8ce68ca8;
}

.footer-smal-text {
    display: inline-block;
    /* width: 335px; */
    align-items: center;
    align-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-right: 0;
}

.foot-first-txt {
    color: #E8E8E2;

    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.foot-second-txt-div {
    display: inline-flex;
}

.foot-second {
    color: #E8E8E2;

    text-align: right;
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-left: 8px;
    margin-right: 8px;
}

.foot-second-txt {
    color: #E8E8E2;
    text-align: right;
    font-family: Arial,
        Helvetica,
        sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

}


@media screen and (min-width: 768px) {

    .footer-container {
        margin-top: 100px;
    }

    .footer-parent-div {
        display: flex;
        margin-bottom: 120px;
    }

    .footer-first-div {
        display: block;
    }

    .footer-second-div {
        display: block;
        margin-left: 78px;
    }

    .footer-logo-div {
        width: 182px;
    }

    .logo-footer-text {
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 24px;
        letter-spacing: -0.48px;
    }

    .foot-social-div {
        margin-top: 24px;
    }

    .foot-text-content {
        width: 429px;
        gap: 20px;
        margin-bottom: 64px;
    }

    .footer-title {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px;
        /* 110% */
        letter-spacing: -0.8px;
    }


    .footer-description {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .footer-sub-text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .footer-smal-text {
        display: flex;
        min-width: 100%;
    }

    .foot-second-txt-div {
        display: flex;
        margin-left: 274px;
    }
}

@media screen and (min-width: 1440px) {

    .footer-parent-div {
        display: flex;
        margin-bottom: 128px;
    }

    .footer-second-div {
        display: flex;
    }

    .footer-description {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .footer-sub {
        margin-left: 148px;
    }

    .footer-sub-text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .form-field {
        margin-bottom: 20px;
    }

    .footer-smal-text {
        width: 1240px;
    }

    .foot-second-txt-div {
        margin-left: 757px;
    }
}

@media screen and (max-width: 374px) {
    .foot-soc-link {
        display: inline-block;
        height: 100%;
    }

    .footer-social-team {
        margin-bottom: 5px;
    }

    .footer-sub {
        width: 100%;
        height: 100%;

    }

    .form-filed {
        width: 100%;
    }
}


/*================= MODAL STYLE ==========*/

.modal-backdrop-product,
.modal-backdrop-subscription,
.modal-backdrop-order {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    background: rgba(1, 1, 1, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}



.is-hidden {
    transition: all 0.3s ease-in-out;
    display: none;
}

.modal-subscription-img {
    background-image: url('../img/footer/footer-img1x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 417px;
    height: 144px;
}

.close {
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 50px;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 14px;
    right: 14px;
    padding: 5px;
    background-color: transparent;
}

.close:hover,
.close:focus {
    background-color: rgba(1, 1, 1, 0.1);
}

.icon-close {
    width: 22px;
    height: 22px;
}

.modal-unsubcont {
    position: relative;
    width: calc(100% - 20px);
    max-width: 335px;
    height: 276px;
    background-color: #e8e8e2;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-unsub {
    color: #010101;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    width: calc(100% - 40px);
}

.span-text {
    color: #6d8434;
}

.paragraph-unsub {
    color: rgba(1, 1, 1, 0.7);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: calc(100% - 40px);
}

.close {
    position: absolute;
}

.modal-unsubtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.modal_subcont {
    position: relative;
    width: calc(100% - 20px);
    max-width: 335px;
    height: 400px;
    background-color: #e8e8e2;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-sub {
    color: #010101;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    width: calc(100% - 15px);
    padding: 100px 43px 14px 43px;
}

.paragraph-sub {
    color: rgba(1, 1, 1, 0.7);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    width: calc(100% - 15px);
    padding-left: 27px;
    padding-right: 27px;
}

.modal-subscription-img {
    position: absolute;
    border-radius: 19px;
    max-height: 135px;
    bottom: 0%;
    right: 0%;
}

.modal-img {
    border-radius: 19px;
}

@media (min-width: 375px) {
    .modal-unsubcont {
        max-width: 335px;
    }

    .modal-subcont {
        max-width: 335px;
    }
}

@media (min-width: 768px) {
    .modal-img {
        display: block;
        border-radius: 19px;
        margin-top: -24px;
    }

    .modal_subcont {
        width: 490px;
        max-width: 490px;
        gap: 20px;
    }

    .close {
        width: 33px;
        height: 33px;
        top: 24px;
        right: 24px;
    }

    .icon-close {
        width: 24px;
        height: 24px;
    }

    .title-unsub {
        font-size: 24px;
        line-height: 1;
        width: 245px;
    }

    .paragraph-sub {
        gap: 20px;
    }

    .modal-unsubcont {
        width: 469px;
        max-width: 469px;
        height: 308px;
    }

    .paragraph-unsub {
        width: 349px;
        font-size: 16px;
        line-height: 20px;
    }

    .modal-subscription-img {
        position: absolute;
        border-radius: 19px;
        height: 135px;
        bottom: 0%;
        right: 0%;
        height: 159px;
        width: 430px;
    }


    .title-sub {
        font-size: 24px;
        padding: 90px 115px 20px 115px;
    }

    .paragraph-sub {
        font-size: 16px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 5px;
    }
}

.modal-container {
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 1440px) {
    .modal-subscription-img {
        height: 159px;
    }
}