/*------------------------------------------Header------------------------------------------*/

/* .header-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
} */

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Quincy CF';
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.11;
  letter-spacing: -0.02em;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

svg {
  width: 24px;
  height: 24px;
  display: block;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #6d8434;
  border-radius: 50%;
  fill: #e8e8e2;
}

.header-logo-icon {
  width: 16px;
  height: 16px;
}

.page-header {
  padding-top: 18px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header-menu-button-home {
  display: flex;
  align-items: center;
  color: #e8e8e2;
  font-size: 14px;
  line-height: 1.29;
  justify-content: center;
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #6d8434;
}

.header-menu-button-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 30px;
  background: #6d8434;
}

.header-menu-icon-cart {
  width: 14px;
  height: 14px;
  fill: #e8e8e2;
}

/*------------------------------------------Media-Header------------------------------------------*/

@media (min-width: 768px) {
  /* .header-container {
    max-width: 768px;
    padding: 0 32px;
  } */

  .page-header {
    padding-top: 24px;
  }

  .logo {
    font-size: 24px;
  }

  .header-logo {
    width: 32px;
    height: 32px;
  }

  .header-logo-icon {
    width: 20px;
    height: 20px;
  }

  .header-menu {
    gap: 16px;
  }

  .header-menu-cart {
    font-size: 18px;
  }

  .header-menu-icon-cart {
    width: 18px;
    height: 18px;
  }

  .header-menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 14px;
  }

  .header-menu-button-home {
    font-size: 18px;
    padding: 12px 28px;
  }
}

@media (min-width: 1440px) {
  /* .header-container {
    max-width: 1440px;
    padding: 0 100px;
  } */

  .page-header {
    padding-top: 24px;
  }

  .header-menu {
    gap: 24px;
  }
}

@media (max-width: 767px) {
  .header-menu-cart {
    display: none;
  }
}
