/* .header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
} */


.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 16px; */
  margin: 0 auto;
}

.logo-header {
  color: #010101;
}

*/ a {
  text-decoration: none;
}

.page-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin: 0 auto;
}

/* .page-header {
  background: var(--light-blue, #F7FAFF);
} */

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.header-icon-link {
  padding: 32px 0;
  color: #010101;
    /* font-family: FONTSPRING DEMO - Quincy CF Black; */
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: -0.36px;
}

.header-icon {
  display: block;
  position: relative;
}

.list-header {
  display: flex;
  gap: 30px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  list-style-type: none;
  padding: 8px;
}

.page-link {
  font-size: 18px;
  font-weight: 400;
  color: #0a224a;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

/*--------------------------Media-Header--------------------------*/

/* @media screen and (max-width: 1439px) {
} */

@media screen and (min-width: 1440px) {

  .page-header .header-container {
    display: inherit;
    max-width: 1440px;
    padding: 0 100px;
  }

  .header-nav {
    gap: 792px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .page-header .header-container {
    max-width: 375px;
    justify-content: center;
  }

  .header-cart {
    display: none;
  }

  .header-icon {
    width: 100px;
    height: 16px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1439px) {

  .page-header .header-container {
    max-width: 768px;
    padding: 0 32px;
    justify-content: center;
  }

  .header-nav {
    gap: 262px;
  }
}
