.cont-pag {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    max-width: 100%;
}

#pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.btn-left,
.btn-right {
    cursor: pointer;
    fill: #A3A3A3;
}

.page-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;
    color: #A3A3A3;
    font-size: 14px;
}

.page-number:hover {
    background: #6D8434;
    color: #E8E8E2;
}

.page-number.active {
    background: #6D8434;
    color: #E8E8E2;
}

.btn-numbers {
    display: flex;
}