.popular-container {
  width: 335px;
  /* padding-bottom: 80px; */
  /* padding-top: 80px; */
}
.popular-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17em;
  margin-bottom: 20px;
}
.popular-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11em;
  margin-bottom: 12px;
}

.popular-card {
  background-color: #fafafa;
  border-radius: 10px;
  width: 335px;
  height: 98px;
  display: flex;
  cursor: pointer;
  align-items: start;
  position: relative;
  gap: 10px;
  padding: 12px;
  justify-content: start;
}
.popular-img {
  background-color: #e8e8e2;
  width: 100%;
  /* height: 56px; */
}

.popular-background {
  background-color: #e8e8e2;
  width: 74px;
  height: 74px;
  padding: 9px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.popular-text {
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em;
  margin-bottom: 9px;
  display: flex;
}
.popular {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.popular-icon {
  background-color: #e8e8e2;
  fill: #6d8434;
  border: none;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
}
.popular-icon:is(:hover, :focus) {
  background-color: #6d8434;
  fill: #e8e8e2;
}
.category-cont {
  display: flex;
  font-size: 12px;
  gap: 9px;
  color: darkgray;
  width: 154px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.pop-text-two-cat{
  display: flex;
  gap: 4px;
}

.pop-text-size-pop{
/* margin-right:9px; */
width: 100%;
}

.word{
  margin-left: 4px;
}

/* Media */
@media screen and (min-width: 768px) {
  /* .container {
    max-width: 704px;
  } */
  .popular-container {
    /*width: 563px;*/
    /*height: 320px;*/
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 32px;
    padding-right: 173px;
  }
  .popular {
    width: 563px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px;
  }
  .popular-card {
    width: 275px;
    height: 98px;
    margin-bottom: 0px;
  }
  .popular-title {
    font-size: 28px;
    line-height: 1.14em;
    gap: 20px;
    white-space: nowrap;
    margin-bottom: 0px;
  }
  .popular-name {
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1440px) {
  /* .container {
    min-width: 1240px;
  } */
  .popular-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* padding-left: 100px; */
    /* padding-right: 0px; */
  }
  .popular {
    flex-direction: column;
  }
}

.popular-title {
margin-top: 40px;
margin-bottom: 13px;
}