

.productlist-container {
    background-color: #E8E8E2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
} 

.productlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.productlist-card {
    background-color: #fafafa;
    border-radius: 20px;
    width: 335px;
    height: 356px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productlist-background {
    background-color: #E8E8E2;
    width: 295px;
    height: 178px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 16px;
}

.productlist-image {
    background-color: #E8E8E2;
    width: 140px;
    height: 140px;
}

.productlist-details {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 295px;
}


.pl-det {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    gap: 8px;
    color: rgba(1, 1, 1, 0.30);
    margin-top: 8px;
    line-height: 1.7em;
}

.productlist-category,
.productlist-size,
.productlist-popularity {
    display: flex;
}

.word {
    color: black;
}

.productlist-price {
    margin-top: auto;
}

.productlist-name {
    font-size: 18px;
    font-weight: 500;
    color: black;
    line-height: 1.1em;
}

.productlist-price {
    color: #010101;
    font-weight: 500;
}

.price-icon {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 295px;
    padding-top: 40px;
}

.price-icon-cont {
    width: 34px;
    height: 34px;
    border-radius: 30px;
    background-color: #6D8434;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productlist-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .productlist {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px 32px;
    }
    .productlist-card {
        flex: calc(50% - 32px);
        width: 336px;
        height: 360px;
    }
}

@media screen and (min-width: 1440px) {
    .productlist-card {
        width: 295px;
        height: 363px;
        flex: calc((33.33333% - 20px));
    }
    .productlist-background {
        width: 255px;
        height: 178px;
    }
    .price-icon {
        width: 255px;
        margin-top: 0;
    }
    .productlist-details {
        width: 255px;
    }
    .productlist {
         gap: 20px;
    } 
    .pl-det {
        display: flex;
        flex-direction: column;
    }
    .category-cont {
        display: flex;
        gap: 8px;
    }
}